/cluster-runs/datasets/*
/cluster-runs/models/*
/cluster-runs/checkpoints/*

# workflow folders
/.snakemake/*
/datasets/*
/models/*
/logs/*

/data/experiments/*

/image_download/examples/
/image_download/filter_images/
/image_download/images/*.tif

/maxar_repo
/osm
token_cache.bin

# Tif Files
*.tif
*.tiff

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Images ###
*.png

.env